# 공통 (데이터팀 제공)
pdfplumber==0.11.9
PyMuPDF==1.27.2.3
pyhwp==0.1b15
olefile==0.47
langchain-text-splitters==1.1.2
pandas==3.0.2
numpy==2.4.4
rapidfuzz
jupyter
ipykernel

# Retrieval / Generation 팀
langchain
langchain-openai
langchain-community
langchain-core
langgraph
faiss-cpu
chromadb
ragas
scikit-learn
rouge-score
bert-score
python-dotenv
tiktoken
pyyaml